@import "tailwindcss";

@font-face {
  font-family: 'Beauty Swing Personal Use';
  src: url('/fonts/BeautySwingPersonalUseOnly.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SerpentCresh';
  src: url('/fonts/SerpentCreshRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

html, body, #root {
  height: 100%;
}

body {
  @apply antialiased;
}
