@import "tailwindcss";

@font-face {
  font-family: 'Beauty Swing Personal Use';
  src: url('/fonts/BeautySwingPersonalUseOnly.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tusker Grotesk 5800 Super';
  src: url('/fonts/TuskerGrotesk5800Super.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SerpentCresh';
  src: url('/fonts/SerpentCreshRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  --color-white: #FFF5EE;
  --color-black: #212122;
}

@layer utilities {
  .stroke-black-shadow {
    text-shadow:
      -1px -1px 0 #212122,
       1px -1px 0 #212122,
      -1px  1px 0 #212122,
       1px  1px 0 #212122;
  }
}

html,
body {
  height: 100%;
}

body {
  @apply antialiased;
  background-color: #d9d9d9;
  color: #000;
}

/* ---------- LandingHero : preview image + effet "difference" ---------- */

/* Titre FEMTOGO en mode mix-blend:difference
   -> en blanc pour que la différence donne un texte sombre sur fond clair
      et clair sur fond très sombre (image noire) */
.has-image .sub-title {
  mix-blend-mode: difference;
}
.sub-title {
  font-family: 'Beauty Swing Personal Use', system-ui, sans-serif;
}

/* Lettres individuelles interactives */
.femtogo-title .hover-char {
  pointer-events: auto;
  display: inline-block;
  will-change: transform, opacity;
  font-family: 'Tusker Grotesk 5800 Super', system-ui, sans-serif;
  letter-spacing: 0.01em;
}

/* Le wrapper d’image doit laisser passer la souris */
.hero-img-wrapper{
  pointer-events: none;
}
